body,
html {
  height: 100%;
}

.bg-img {
  height: 100%;

  background-image: url('oasis.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: black;
  border: 10px solid white;
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-size: 50px;
  font-weight: bold;
  padding: 25px;
  box-shadow: 0 0 0 10px black;
}
